.app {
  display: flex;
  text-align: center;
  /* margin: 20px; */
}
h1 {
  margin: 10px;
}
p {
  margin-top: 5px;
  color: rgb(255, 116, 116);
}
.left > button {
  align-items: center;
  width: 12rem;
  height: 3rem;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: rgb(87, 87, 124);
  margin-left: 10px;
  padding: 15px;
}
.right > button {
  align-items: center;
  width: 12rem;
  height: 3rem;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: rgb(87, 87, 124);
  margin-left: 10px;
  padding: 15px;
}
.left,
.right {
  display: flex;
}

.app_intro {
  margin-top: 20px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid;
}
.app_intro > span {
  letter-spacing: 2px;
  color: white;
  height: 20vh;
  /* font-size: 20px; */
  padding: 5px;
}
.implementation {
  margin: 50px;
}
.implementation_header {
  position: absolute;
  font-size: 20px;
 
  /* left: 40rem; */
}
.implementation > img {
  margin-right: 200px;
  margin-top: 50px;
  height: 40rem;
  border-radius: 50px;
}
